<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msg.gcms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.msg.gcms.base.di.GCMSApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MSGGCMS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.component.clubmaker.MakeClubActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.component.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.component.intro.IntroActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.component.main.MainActivity"
            android:exported="false" />
        <activity android:name=".ui.component.profile.ProfileActivity" />
        <activity
            android:name=".ui.component.withdrawal.WithdrawalActivity"
            android:exported="false" />
        <activity android:name=".ui.component.editclub.EditClubActivity"
            android:exported="false"/>
        <activity android:name=".ui.component.member_manage.MemberManageActivity"
            android:exported="false"/>
    </application>

</manifest>